<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/control.css" />
    <script src="/js/control/control.js" type="module"></script>
  </head>
  <body>
    <h1>Control</h1>
    <a href="/live">TO LIVE</a>
    <input id="live-id" />
    <a id="button" class="rounded p4 button">Say Hello</a>
  </body>
</html>
