<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/live.css" />
    <script src="/js/live/live.js" type="module"></script>
  </head>
  <body class="<%= isDebug == true ? 'debug' : '' %>">
    <span class="p3 m4 rounded frosted hidden" id="ws-id"></span>
  </body>
</html>
